{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorter Doctor Simi</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
    <a href="https://www.farmaciasdoctorsimi.cl">
        <img src="{% static 'images/similogo.png' %}" alt="Logo de Doctor Simi" ALIGN=left>
        </a>
        <header>          
        <center>
        <h1>Sistema de gestión de salidas</h1>
        </center>
    </header>
    <nav>
        <ul>
            <li><a href="destinos" target="_blank">Destinos</a></li>
            <li><a href="salida01" target="_blank">Salida 1</a></li>
            <li><a href="salida02" target="_blank">Salida 2</a></li>
            <li><a href="salida03" target="_blank">Salida 3</a></li>
            <li><a href="salida04" target="_blank">Salida 4</a></li>
            <li><a href="salida05" target="_blank">Salida 5</a></li>
            <li><a href="https://www.mindugar.cl" target="_blank">WCS Mindugar</a></li>
            

        </ul>
    </nav>
    <section>

        <center>
        <h2>Bienvenido a Sorter Doctor Simi</h2>
        <br>
        <br>
        <p>Somos una cadena de farmacias comprometida con tu salud al mejor precio. Encuentra medicamentos, productos de cuidado personal y más.</p>
        <br>
        <br>
        <h3>Seleccione "Destinos" para visualizar los ultimos bultos clasificados.</h3>
        <br>
        <br>
        <h3>Selecione "Salida" para obtener información específica de cada línea</h3>
        </center>
    </section>
    <footer>       
        <p>&copy; 2024 Mindugar - Todos los derechos reservados.</p>
    </footer>
</body>
</html>