<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
</head>
<body>
    <h1>Bienvenido a la Landing Page</h1>
    <div class="button-container">
        <a href="salida01" class="button">Botón 1</a>
        <a href="salida02" class="button">Botón 2</a>
        <a href="salida03" class="button">Botón 3</a>
        <a href="salida04" class="button">Botón 4</a>
        <a href="salida05" class="button">Botón 5</a>
        <a href="destinos" class="button">Botón 6</a>
    </div>
</body>
</html>