{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorter Ripley</title>
    <link rel="stylesheet" href="{% static 'css/styleRipley.css' %}">
</head>
<body>
    <header>
        <a href="https://simple.ripley.cl" class="logo-left">
            <img src="{% static 'images/logo_ripley.png' %}" alt="Logo de Ripley">
        </a>
        <a href="https://www.mindugar.cl" target="_blank" class="logo-right">
            <img src="{% static 'images/mindugarlogo.png' %}" alt="Logo de Mindugar">
        </a>
        <h1 class="header-title">Sistema de gestión de salidas</h1>
    </header>
    <nav>
        <ul>
            <li><a href="destinos" target="_blank">Destinos</a></li>
            <li><a href="salida01" target="_blank">Salida 1</a></li>
            <li><a href="salida02" target="_blank">Salida 2</a></li>
            <li><a href="salida03" target="_blank">Salida 3</a></li>
            <li><a href="salida04" target="_blank">Salida 4</a></li>
            <li><a href="salida05" target="_blank">Salida 5</a></li>
            <li><a href="https://www.mindugar.cl" target="_blank">WCS Mindugar</a></li>
        </ul>
    </nav>
    <section>
        <center>
        <h2>BIENVENIDO AL SORTER DE RIPLEY</h2>
        <br><br>
        <h2>Empresa chilena de retail que se ha consolidado como una de las principales cadenas de tiendas por departamentos en América Latina.</h2>
        <br><br>
        <h3>Seleccione "Destinos" para visualizar los últimos bultos clasificados.</h3>
        <br><br>
        <h3>Seleccione "Salida" para obtener información específica de cada línea</h3>
        </center>
    </section>
    <footer>
        <p>&copy; 2024 Mindugar - Todos los derechos reservados.</p>
    </footer>
</body>
</html>
