body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f5ff; /* Azul claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 100%;
    padding: 1px;
    background-color: #f0f5ff; /* Blanco */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Cambia la dirección de los elementos a vertical */
    align-items: center; /* Centra los elementos horizontalmente */
    margin-bottom: 10px;
}
.column {
    width: 48%; /* Ancho de cada columna */
    margin-bottom: 20px;
    background-color: #f0f5ff;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333; /* Azul oscuro */
    font-size: 16px;
    width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}
th, td {
    padding: 8px 10px;
    text-align: left;
    border-bottom: 1px solid #cccccc; /* Gris */
}
th {
    background-color: #f0f0f0; /* Gris claro */
    color: #333333; /* Azul oscuro */
}
tr:nth-child(even) {
    background-color: #f9f9f9; /* Gris claro */
}
tr:hover {
    background-color: #e1e8f0; /* Azul claro */
}
.center-text {
    text-align: center;
}
/* Estilos para el gráfico */
.grafico {
    text-align: center; /* Centra el contenido del contenedor */
}