body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000; /* Negro */
    color: #ffffff; /* Blanco */
    padding: 10px 20px;
    position: relative;
    height: 100px; /* Aumenta la altura para más espacio */
}

.logo-left {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 2; /* Asegura que los logos estén encima */
}

.logo-right {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 2; /* Asegura que los logos estén encima */
}

.logo-left img {
    width: 120px;
    height: 50px;
}

.logo-right img {
    width: 160px;
    height: 50px;
}

.header-title {
    text-align: center;
    margin: 0;
    line-height: 100px; /* Aumenta para alineación vertical */
    font-size: 24px;
    position: relative;
    z-index: 1; /* Coloca el título debajo de los logos */
}

nav {
    background-color: #f8f9fa; /* Gris claro */
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ff007f; /* Fucsia Ripley */
}

nav ul li a:hover {
    color: #d5006f; /* Fucsia más oscuro */
}

section {
    padding: 20px;
}

footer {
    background-color: #000000; /* Negro */
    color: #ffffff; /* Blanco */
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
